


body {
    width: 960px;
    text-align: center;
    font-family: 'Gugi', cursive;
    color: #2f3542;
    border: solid #dfe4ea;
    border-width: 10px;
    border-radius: 25px;
}

img {
    width: 250px;
    height: 250px;
    padding: 20px;
    margin: 10px;
}

nav {
    background-color: #dfe4ea;
    margin: 5px;
    padding: 5px;
    
}
.articleColor {
    background-color: #dfe4ea;
    
}
a {
    text-decoration: none;
    color: #70a1ff;
}

a:hover{
    background-color: #ff4757;
    border-radius: 10px;
}

